div.col-md-8
    div#top-info
    div.clearfix
    div#controls
        button#next-day.btn.btn.btn-warning.center-block.col-md-6.
            Следующий день
        button#increase-capacity.btn.btn.btn-success.center-block.col-md-6
            | Добавить место на складе (
            span#cell-cost
            | руб)
        button#increase-capacity-fire.btn.btn.btn-success.center-block.col-md-6
            | Добавить огнеупорное место на складе (
            span#cell-cost-fire
            | руб)
        button#increase-capacity-bug.btn.btn.btn-success.center-block.col-md-6
            | Добавить противотараканное место на складе (
            span#cell-cost-bug
            | руб)
    div.clearfix
    p
    div#cells.scrollable-no
div.col-md-4
    h4.text-center.
        Игровой лог
    div#messages.scrollable-no


div#lose-window(title='Вы проиграли!')
    | Вы не смогли грамотно справиться с вредителями и обанкротились!

div#protector-window(title='Защитные средства')
    div#protectors.scrollable-95

script#messages-template(type='x-tpl-handlebars')
    | {{#message}}
    p {{{this}}}
    | {{/message}}

script#info-template(type='x-tpl-handlebars')
    div.alert.alert-success.text-center.col-md-3.
        Деньги: {{money}} руб.
    div.alert.alert-info.text-center.col-md-4.
        Занято мест на складе: {{busy_cells}} / {{total_cells}}
    div.alert.alert-info.text-center.col-md-5.
        Прошло дней: {{days}}


script#cell-template(type='x-tpl-handlebars')
    | {{#cells}}
    div.panel.panel-default.col-md-3(class='' +
    '{{#if badFactor}}' +
        '{{#unless resource.description.image}}' +
            'bg-danger' +
        '{{/unless}}' +
    '{{else}}' +
        '{{#unless resource.description.image}}' +
            'bg-success' +
        '{{/unless}}' +
    '{{/if}}',
    style='' +
    '{{#if badFactor}}' +
        '{{#if resource.description.image}}' +
            'background: linear-gradient(rgba(242, 222, 222,.5), rgba(242, 222, 222,.5)),url({{resource.description.image}}) center no-repeat;' +
        '{{/if}}' +
    '{{else}}' +
        '{{#if resource.description.image}}' +
            'background: linear-gradient(rgba(223, 240, 216,.5), rgba(223, 240, 216,.5)),url({{resource.description.image}}) center no-repeat;' +
        '{{/if}}' +
    '{{/if}}')

        div
            | {{#if resource}}
            div.clearfix
                h4.pull-left
                    | {{resource.description.name}}
                    | ({{restStoreDays}} дн.)
                h5.pull-right
                    span.label.label-info №{{@index}}
            div
                | {{#if badFactor}}
                | {{badFactor.description.name}}
                div (Жизни: {{badFactor.hitPoints}} Урон: {{badFactor.description.damage}})
                | {{else}}
                | &nbsp;
                div &nbsp;
                | {{/if}}
            p Качество: {{resource.quality}}
            button.btn.btn-sm.btn-success.center-block.use-protector(data-id='{{@index}}', class='{{#unless badFactor}}invisible{{/unless}}').
                Средства защиты
            | {{else}}
            h4 &nbsp;
            div &nbsp;
                button.btn.btn-sm.btn-success.center-block Пустое место
                div &nbsp;
            p &nbsp;
            | {{/if}}
            div.btn.btn-sm.btn-info.copy-cell(data-id='{{@index}}')
                i.glyphicon.glyphicon-copy
    | {{/cells}}
    | {{^cells}}
    div.col-md-4
    div.alert.alert-warning.text-center.col-md-4
        h3 На складе пусто
    | {{/cells}}

script#protectors-template(type='x-tpl-handlebars')
    | {{#protectors}}
    div.row.center-block
        button.protector-select.btn.col-md-12(class="{{#if can}}btn-success{{else}}btn-danger{{/if}}", data-id='{{protector_id}}')
            | {{protector.name}} ({{protector.cost}} руб.)
            | урон: {{protector.damage}}
        p &nbsp;
    | {{/protectors}}