div.col-md-3
p.col-md-6.
    На складе даётся в аренду место для хранения полезных ресурсов: продуктов, стройматериалов и других.
    На складе могут возникнуть некоторые факторы, которые портят ресурсы.
    Например: вредители, пожары, затопления и другие.
    Для противодействия вредным факторам есть средства защиты.
    Задачей игрока является грамотное распоряжение полученными от аренды деньгами
    для покупки нужных средств защиты и сохранение невредимым большей части ресурсов
div.clearfix
button#start-game.btn.btn-default Начать игру