html
    head
        meta(charset='utf-8')
        title Будни кладовщика
        link(rel="stylesheet", type="text/css",href='css/lib/bootstrap.min.css')
        link(rel="stylesheet", type="text/css",href='css/style.css')
        script(src='js/lib/jquery-2.2.4.min.js')
        script(src='js/lib/bootstrap.min.js')
        script(src='js/script.js')
    body
        div(class='text-center')
            h1  Игра "Борьба с вредителями на складе"
            h2  Модель будней кладовщика